body {
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
}

img {
  width: 150px;
  border-radius: 20px;
  margin: 20px;
}

.main {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  background: #664e4c;
  color: white;
  padding: 40px;
  border-bottom: 8px solid #ca6702;
  text-align: center;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}
